/* Global styles for the demo
   ========================================================================== */

.demo-list {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  border-bottom: 1px solid #999;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  
}

@media (min-width: 800px) {
  .demo-list {
    position: sticky;
    top: 0;
  }
}

.demo-list a {
  color: #000;
  text-decoration: none;
  border: none;
}

.demo-list nav a {
  padding: .25rem .5rem;
  display: inline-block;
}

.demo-list h1 {
  padding: .25rem .5rem;
  font-weight: 500;
}

.demo-list a.selected {
  background: #EEE;
  text-decoration: none;
}

.container {
  max-width: 72rem;
  padding: 1.8rem;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .lg-hide {
    display: none;
  }
}


